.medio{
    padding: 15px;
    font-size: 14px;
}
.carta{
    border-radius: 11px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 30px;
}
button{
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 7px;
}